<table>
    <tr>
        <th>ProductCode</th>
        <th>ProductName</th>
        <th>CategoryID</th>
        <th>ProductDescription</th>
        <th>ProductPrice</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Instock</th>
    </tr>
    <tr *ngFor="let p of products;let i=index">
        <td>{{p.ProductCode}}</td>
        <td>{{p.ProductName}}</td>
        <td>{{p.CategoryID}}</td>
        <td>{{p.ProductDescription}}</td>
        <td>{{p.ProductPrice}}</td>
        <td>{{p.Brand}}</td>
        <td>{{p.Quantity}}</td>
        <td>{{p.InStock}}</td>

        <td><button (click)="removeProd(p.ProductID)">Delete</button></td>
        <td><button (click)="getparticularProduct(p.ProductID)">Edit</button></td>
    </tr>
    </table>
    
    <hr/>
   <form #prodform="ngForm">
        <p>
          ProductID :
            <input hidden type="number" name="ProductID" [(ngModel)]="prod.ProductID" #ProductID=ngModel/>
        </p>
        <p>
            ProductName :
              <input type="text" name="ProductName" [(ngModel)]="prod.ProductName" #ProductName=ngModel/>
        </p>
          <p>
            CategoryID:
            <input type="number" name="CategoryID" [(ngModel)]="prod.CategoryID" #CategoryID=ngModel/>
          </p>
        <p>
           ProductDescription:
           <input type="text" name="ProductDescription" [(ngModel)]="prod.ProductDescription" #ProductDescription=ngModel/>
        </p>
        <p>
            ProductPrice:
            <input type="text" name="ProductPrice" [(ngModel)]="prod.ProductPrice" #ProductPrice=ngModel/>
         </p>
         <p>
            Brand:
            <input type="text" name="Brand" [(ngModel)]="prod.Brand" #Brand=ngModel/>
         </p>
         <p>
             Quantity:
             <input type="number" name="Quantity" [(ngModel)]="prod.Quantity" #Quantity=ngModel/>

         </p>
         <p>
            Instock:
            <input type="radio" name="Instock" value= "true" [(ngModel)]="prod.Instock"#Instock=ngModel/>Instock
           <input type="radio" name="Instock" value="false" [(ngModel)]="prod.Instock" #Instock=ngModel>OutOfStock

        </p>
          <p><button (click)="addProduct()">Add Product</button></p>
    
          <p><button (click)="updateparticularProd(prod)">Update Product</button></p>
    </form>